# python
*.pyc
venv*/
/*.prof

# IDE stuff
.project
.pydevproject
.idea/
*~
.vscode

# packaging
dist/
build/
rdpy.egg-info/
pyrdp.egg-info/
rle*.so

# AsciiDoc
CHANGELOG.html
docs/*.html

# pyrdp-specific
pyrdp_output/

# twisted
/twisted/plugins/dropin.cache
