appdirs==1.4.3
attrs==19.3.0
Automat==20.2.0
av==8.0.2
cffi==1.14.0
constantly==15.1.0
cryptography==2.9
dbus-python==1.2.16
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
names==0.3.0
notify2==0.3.1
Pillow==7.2.0
pillowcase==2.0.0
progressbar2==3.51.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.7
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
PySide2==5.14.2
python-utils==2.4.0
pytz==2019.3
rsa==4.0
scapy==2.4.3
service-identity==18.1.0
shiboken2==5.14.2
six==1.14.0
Twisted==20.3.0
zope.interface==5.1.0
