appdirs==1.4.4
attrs==20.2.0
Automat==20.2.0
av==8.0.2
cffi==1.14.3
constantly==15.1.0
cryptography==2.9.2
dbus-python==1.2.16
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
names==0.3.0
notify2==0.3.1
Pillow==8.0.0
pillowcase==2.0.0
progressbar2==3.53.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.8
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
PySide2==5.15.1
python-utils==2.4.0
pytz==2020.1
rsa==4.6
scapy==2.4.4
service-identity==18.1.0
shiboken2==5.15.1
six==1.15.0
Twisted==20.3.0
zope.interface==5.1.2
