appdirs==1.4.4
attrs==21.2.0
Automat==20.2.0
av==8.0.3
cffi==1.14.6
constantly==15.1.0
cryptography==3.4.7
dbus-python==1.2.16
hyperlink==21.0.0
idna==3.2
incremental==21.3.0
names==0.3.0
notify2==0.3.1
Pillow==8.3.1
pillowcase==2.0.0
progressbar2==3.53.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.10.1
pyOpenSSL==19.1.0
PySide2==5.15.2
python-utils==2.5.6
pytz==2021.1
qimage2ndarray==1.8.3
rsa==4.7.2
scapy==2.4.5
service-identity==21.1.0
shiboken2==5.15.2
six==1.16.0
Twisted==21.7.0
typing-extensions==3.10.0.0
zope.interface==5.4.0
