name: Continuous Integration

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - master

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build Docker image
      run: docker build .

  install-and-test-ubuntu:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: '3.7' # Version range or exact version of a Python version to use, using semvers version range syntax.
        architecture: 'x64'

    - name: Python version
      run: python --version
    - name: Pip version
      run: pip --version

    - name: Install setuptools
      run: sudo apt install python3-setuptools
    - name: Install PyRDP dependencies
      run: sudo apt install libdbus-1-dev libdbus-glib-1-dev libgl1-mesa-glx git python3-dev
    - name: Install PyRDP
      working-directory: .
      run: pip install -U -e .

    - name: Install ci dependencies
      run: pip install -r requirements-ci.txt

    - name: Integration Test with a prerecorded PCAP.
      working-directory: ./
      run: coverage run test/test_prerecorded.py

    - name: pyrdp-mitm.py initialization integration test
      working-directory: ./
      run: coverage run --append test/test_mitm_initialization.py dummy_value

    - name: Extract test session replay
      uses: DuckSoft/extract-7z-action@v1.0
      with:
        - pathSource: test/files/test_session_replay.zip
        - pathTarget: test/files/test_session.replay

    - name: pyrdp-player.py read a replay in headless mode test
      working-directory: ./
      run: coverage run --append bin/pyrdp-player.py --headless test/files/test_session.replay

    - name: Coverage
      working-directory: ./
      run: coverage report --fail-under=50



  install-and-test-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: '3.7' # Version range or exact version of a Python version to use, using semvers version range syntax.
          architecture: 'x64'

      - name: Python version
        run: python --version
      - name: Pip version
        run: pip --version
      - name: Install PyRDP
        working-directory: .
        run: pip install -U -e .

      - name: Integration Test with a prerecorded PCAP.
        working-directory: ./
        run: python test/test_prerecorded.py
      - name: pyrdp-mitm.py initialization test
        working-directory: ./
        run: bin/pyrdp-mitm.py --test localhost
      - name: pyrdp-player.py read a replay in headless mode test
        working-directory: ./
        run: bin/pyrdp-player.py --headless test/files/test_session.replay
